[Desktop Entry]
Name=TseriesTEST	
GenericName=TseriesTEST
Comment=Tidsserie visning test version
Exec=tseries-test
Icon=tseries
MimeType=;
ServiceTypes=
Terminal=false
Type=Application
Categories=Meteorologisk;Meteorologisk-Test
