[Desktop Entry]
Name=Tseries-5.1
GenericName=Tseries-5.1
Comment=Tidsserie visning
Exec=tseries-5.1
Icon=tseries-5.1
MimeType=;
ServiceTypes=
Terminal=false
Type=Application
Categories=Meteorologisk
