[Desktop Entry]
Name=TseriesTEST	
GenericName=TseriesTEST
Comment=Tidsserie visning test version
Exec=tseries-test
Icon=tseries
BinaryPattern=
Protocols=
MimeType=;
ServiceTypes=
Terminal=false
TerminalOptions=
Type=Application
MapNotify=false
Categories=Meteorologisk;Meteorologisk-Test
