[Desktop Entry]
Name=Tseries-6.5
GenericName=Tseries-6.5
Comment=Tidsserie visning
Exec=tseries-6.5
Icon=tseries-6.5
MimeType=;
ServiceTypes=
Terminal=false
Type=Application
Categories=Science;Meteorologisk;Meteorologisk-VersionedPrograms
