Source: tseries
Section: science
Priority: extra
Maintainer: Norwegian Meteorological Institute met.no <diana@met.no>
Build-Depends: debhelper (>= 5), autotools-dev
Build-Conflicts: autoconf2.13, automake1.4
Standards-Version: 3.7.2

Package: tseries
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Meteorological time series viewer
 This program shows time series from hdf4 and ASCII input.
 The curves are displayed in openGL using the pets2 library.
 Tseries can be connected to the diana meteorological visualisation
 system by using QSockets.
